@{
    ViewData["Title"] = "ListagemAnuncios";
}
@model IList<Anuncio>;


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 6px;
        }
    </style>
</head>
<body style="background-color: #f6f8ff;">
    <td class="container">
        <h3>Anúncios cadastrados</h3>
    <td class="list-group">
        <table>
            <tr>
                <th>Código - Descrição</th>          
                <th>Cor</th>
                <th>Ano</th>
                <th>Valor Compra</th>
                <th>Valor Venda</th>
                <th>Tipo Combustivel</th>
                <th>Ação</th>
            </tr>
            @foreach (var anuncio in Model)
            {
                <tr>

                    <td>
                        <h4> @anuncio.Codigo - @anuncio.Descricao </h4>
                    </td>
                    <td>
                        <h4> @anuncio.Cor</h4>
                    </td>
                    <td>
                        <h4> @anuncio.Ano</h4>
                    </td>
                    <td>
                        <h4> @anuncio.ValorCompra</h4>
                    </td>
                    <td>
                        <h4> @anuncio.ValorVenda</h4>
                    </td>
                    <td>
                        <h4> @anuncio.TipoCombustivel</h4>
                    </td>
                    <td>
                        <a asp-action="" asp-route-codigo="" class="btn btn-success">Editar</a>
                    </td>
                </tr>

            }
        </table>
    </td>
</body>



